.ui.borderless.topmenu.menu{
  background-color:#00a0e9;
  box-shadow:none;
  border:none;
}
.ui.container{
  color:#ffffff;
}

.ui.borderless.middlemenu.menu{
  background-color: #f2f2f2;
  box-shadow:none;
  border:none;
}

.footer-background{
  background-color: #f2f2f2;
  height:200px;
  color:white;
  padding-top:20px;
  padding-bottom:20px;
}

body{
  background-color:#f2f2f2;
  color:#ffffff;
}
p{
  color:#ffffff;
  font-size:15px;
}